

.carousel-container {
    height: 700px; 
    overflow: hidden; 
    width: 100%;

  }
  
  .carousel-item img {
    height: 700px;
    width: auto; 
    object-fit: cover; 
    max-width: 100%;
    display: block;
    
  }
  