.card-container {
  height: auto; 
  overflow-x: auto; 
  overflow-y: auto; 
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding-bottom: 20px; 
  /* animation: fade linear;
  animation-timeline: scroll(); */
}

/* @keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
} */

.card-container h1 {
  font-weight: 800;
  font-size: 2rem;
  width: 100%;
  text-align: center; 
  padding-bottom: 50px;
  margin: 0; 
  color: #031957;
}


.card-set {
  height: auto;
  display: grid; 
  grid-template-columns: repeat(6, 18rem); 
  gap: 20px; 
  width: max-content; 
  justify-content: center; 
}

.card {
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
  overflow: hidden;
  height: 400px;
}

.card-img-top {
  height: 200px;
  object-fit:cover;
  padding: 5px;
}

.card-title {
  font-size: 1rem;
  font-weight: 800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.card-price{
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.add-cart {
  padding: 10px;
  background-color: #3b8be6;
  text-decoration: none;
  border-radius: 10px;
  width: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  color: rgb(253, 253, 255);
  font-size: small;
  font-weight: 500;
  border: none; 
  cursor: pointer; 
  position: relative; 
  overflow: hidden; 
  transition: background-color 0.3s; 
}

.add-cart span {
  position: relative;
  display: inline-block;
  transition: padding-right 0.5s; 
}

.add-cart span:after {
  content: '\00bb'; 
  position: absolute;
  opacity: 0;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  transition: opacity 0.5s, right 0.5s; 
}

.add-cart:hover {
  background-color: #2a6ebc; 
}

.add-cart:hover span {
  padding-right: 25px; 
}

.add-cart:hover span:after {
  opacity: 1; 
  right: 10px; 
}