.card-container {
  height: auto; /* Adjust height as needed */
  overflow-x: auto; /* Allow horizontal scrolling */
  overflow-y: auto; /* Hide vertical overflow */
  width: 100%;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center items horizontally */
  padding-bottom: 20px; /* Add space at the bottom for scrolling */
  animation: fadec linear;
  animation-timeline: scroll();
}

@keyframes fadec {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

.card-container h1 {
  font-weight: 800;
  font-size: 2rem;
  width: 100%;
  text-align: center; /* Center the text inside h1 */
  padding-bottom: 50px;
  margin: 0; /* Remove default margin */
  color: #031957;
}


.card-set {
  height: auto;
  display: grid; /* Use CSS Grid */
  grid-template-columns: repeat(6, 18rem); /* Create 5 columns of 18rem each */
  gap: 20px; /* Add space between cards */
  width: max-content; /* Width adjusts to the content size */
  justify-content: center; /* Center grid horizontally within the container */
}

.card {
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
  overflow: hidden;
  height: 400px;
}

.card-img-top {
  height: 200px;
  object-fit:cover;
  padding: 5px;
}

.card-title {
  font-size: 1rem;
  font-weight: 800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.card-price{
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.add-cart {
  padding: 10px;
  background-color: #3b8be6;
  text-decoration: none;
  border-radius: 10px;
  width: 100%;
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  color: rgb(253, 253, 255);
  font-size: small;
  font-weight: 500;
  border: none; /* Ensure no border */
  cursor: pointer; /* Pointer cursor on hover */
  position: relative; /* Positioning for pseudo-element */
  overflow: hidden; /* Hide the pseudo-element overflow */
  transition: background-color 0.3s; /* Smooth background-color transition */
}

.add-cart span {
  position: relative;
  display: inline-block;
  transition: padding-right 0.5s; /* Smooth padding transition */
}

.add-cart span:after {
  content: '\00bb'; /* Arrow character */
  position: absolute;
  opacity: 0;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  transition: opacity 0.5s, right 0.5s; /* Smooth opacity and position transition */
}

.add-cart:hover {
  background-color: #2a6ebc; /* Change background color on hover */
}

.add-cart:hover span {
  padding-right: 25px; /* Add space for the arrow on hover */
}

.add-cart:hover span:after {
  opacity: 1; /* Show the arrow on hover */
  right: 10px; /* Move the arrow to its visible position */
}